<article class="component-portfolio">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <header class="component-heading">
        <h3>Work</h3>
      </header>
    </div>
  </div>
  <a ng-repeat="work in workItem" class="work" ng-href="http://{{ ::work.url }}" target="_blank">
    <div class="row">
      <div class="col-sm-6 ">
        <img ng-src="{{ ::work.image }}" alt="{{ ::work.client }}" class="top-space"/>

      </div>
      <div class="col-sm-6">
        <section>
          <h4>{{ ::work.client }}</h4>
          <div class="tags" ng-repeat="tag in work.skills">{{::tag}}</div>
        </section>
        <p class="summary">
          <strong>Details:</strong>
          {{ ::work.summary }}
        </p>
      </div>
    </div>
    <!--img ng-repeat="screenshot in work.screenshots" ng-src="{{ ::screenshot }}" style="width:30px; display:inline-block; margin-right: 5px;"/-->
  </a>
</article>
