.btn {
  color:#fff;
  border-radius:25px;
  border:0;
  font-size:13px;
  display:inline-block;
  &:hover {
    text-decoration:none;
    color:#fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .fa {
    margin:0 5px;
  }
}

.btn-blue {
  background:$main-blue;
  margin-right:5px;
  padding: 7px 15px;
  &:hover{
    background-color:darken($main-blue,10%);
  }
}

.btn-social{
  background:$main-blue;
  border-color:$main-blue;
  border-radius:50%;
  border:1px solid;
  width:30px;
  height:30px;
  display:inline-block;
  text-shadow: darken($main-blue, 10%) 1px 0px 4px;
  margin:0 3px;
  &:hover {
    background:$link-hover;
    text-shadow:none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .fa {
    display:inline-block;
    width: 30px;
    text-align: center;
    font-size:19px;
    vertical-align: middle;
    line-height:31px;
    color:#fff;
  }
}

.btn-pink {
  background:$main-pink;
  margin-right:5px;
  padding: 7px 15px;
  &:hover{
    background-color:darken($main-pink,10%);
  }
}
