.work {
  position:relative;
  padding:6px 20px;
  text-decoration:none;
  color:#000;
  &:hover {
    cursor: pointer;
    background: $lightgray;
    text-decoration: none;
    color: #000;
  }
  p.summary {
    margin-top: 5px;
    &:before {
      content: 'Summary: ';
      position: relative;
      font-weight: 600;
    }
  }
}

.tags {
  display: inline-block;
  font-size: 0.6em;
  line-height: 14px;
  background-color: $lightgray;
  margin: 10px 4px 3px 0;
  padding: 3px 5px;
  border:  1px solid $gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  &:before {
    content: '\f111';
    font-family: 'FontAwesome';
    color: #fff;
    padding-right: 4px;
    font-size: 6px;
    line-height: 14px;
  }
}

.user img {
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  height: 40px;
}
.user span{
  display: block;
}

.interact {
  display: block;
  text-align: center;
  margin-bottom: 0;
  a {
    background: $main-blue;
    color:#fff;
    @extend .btn;
    margin-left: 5px;
    padding: 5px 13px;
  }
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 0;
  li {
    display: inline-block;
  }
  a {
    padding: 10px 20px;
    font-weight: 700;
    border-bottom: 2px #fff solid;
    text-decoration: none;
    color: $gray;
    &:hover {
      background: $lightgray;
      border-bottom: 2px $gray solid;
    }
  }
}
