.work {
  position:relative;
  padding:6px 20px;
  text-decoration:none;
  color:#000;
  &:hover {
    cursor:pointer;
    background:$lightgray;
    text-decoration:none;
    color:#000;
  }
  p.summary {
    margin-top: 5px;
    &:before {
      content: 'Summary: ';
      position:relative;
      font-weight:600;
    }
  }
}

.tags {
  display: inline-block;
  font-size: .6em;
  line-height:14px;
  background: #eee;
  margin: 10px 4px 3px 0;
  padding: 3px 5px;
  border: #e0e0e0 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  &:before {
    content: '\f111';
    font-family:'FontAwesome';
    color:#fff;
    padding-right: 4px;
    font-size:6px;
    line-height:14px;
  }
}

.user img {
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  height: 40px;
}
.user span{
  display:block;
}

.interact {
  display:block;
  text-align:center;
  margin-bottom:0;
  a {
    background:$main-blue;
    color:#fff;
    @extend .btn;
    margin-left: 5px;
    padding:5px 13px;
  }
}

.breadcrumb {
  font-size:11px;
  text-transform:lowercase;
  padding-left:0;
  margin-bottom: 0;
  margin-top: 20px;
  li {
    display:inline-block;
    color:$gray;
  }
  a {
    color:$main-blue;
  }
}
