/* Base - Variables */

/* Color Scheme */
$main-pink: #f26454;
$main-blue: #57A1AF;
$main-gray: #626262;

$darkgray: #333;
$gray: #666;
$lightgray: #f1f1f1;

/* Link colors */
$link-hover: darken($main-blue,10%);

/* Core Elements */
html, body {
  margin:0;
  color:$darkgray;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:15px;
}
html {
  height:100%;
}
body {
  min-height:100%;
  position:relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: $main-pink;
}

h2 {
  color:$main-blue;
  margin-bottom: 0;
}

h3, .h3 {
  color:$main-pink;
  text-align:center;
  padding:5px;
  text-transform:uppercase;
  margin:5px 0;
}

h4, .h4 {
  color:$main-pink;
  margin-bottom:0;
  margin-top:8px;
}

blockquote {
  font-size: 16px;
  font-style: italic;
  color: #818181;
  padding: 15px;
  border-left: #d4d4d4 2px solid;
}
.heading-gray {
  color:$main-gray;
}

p {
  color:#4F4F4F;
}

a {
  color:$main-blue;
  text-decoration:none;
  &:hover {
    color:$link-hover;
    text-decoration:underline;
    cursor:pointer;
  }
}

img {
  max-width: 100%;
}
