/* Base - Variables */

/* Color Scheme */
$main-pink: #f26454;
$main-blue: #57A1AF;
$main-gray: #626262;

$darkgray: #555;
$gray: #767676;
$lightgray: #eee;
$superlight: #f1f1f1;

/* Link colors */
$link-hover: darken($main-blue,10%);

/* Core Elements */
html, body {
  margin: 0;
  color: $darkgray;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: $main-pink;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  color: #5e5e5e;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 100;
  letter-spacing: initial;
  font-size: 20px;
}

h3, .h3 {
  font-size: 18px;
  padding: 5px 0;
  margin: 5px 0;
  text-transform: lowercase;
}

h4, .h4 {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  color: $gray;
}

blockquote {
  font-size: 16px;
  font-style: italic;
  color: #818181;
  padding: 15px;
  border-left: #d4d4d4 2px solid;
}
.heading-gray {
  color: $main-gray;
}

p {
  color: #4F4F4F;
}

a {
  color: $main-blue;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}
