<article class="component-portfolio">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <header class="component-heading">
        <h3>Blog</h3>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" ng-hide="posts.$resolved"><img src="/assets/images/spinner.gif" class="block-center"/></div>
    
    <a class="blog-entry col-md-6"   ng-repeat="(postId, post) in posts.items" ng-href="/#/blog/{{ postId }}">
      <h4>{{posts.items[postId].title}}</h4>
      <time class="small">{{posts.items[postId].published | date:'MMMM d, y' : 'UTC'}}</time>
      <p class="summary" ng-bind-html="posts.items[postId].content | words:25"></p>
      <small><strong>related to:</strong> <span ng-repeat="label in posts.items[postId].labels">{{ label }}<span ng-if="!$last"> + </span></span></small>
    </a>
  </div>
</article>
