<article class="component-about">
  <section class="row">
    <div class="col-md-12 col-xs-12">
      <header class="component-heading">
        <h3>about</h3>
      </header>
    </div>
  </section>
  <section class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <img src="assets/images/cindy-about.jpg" alt="Cindy Juarez" class="img-section"/>
      <p class="xs-center">
        <a href="http://sceendy.com/assets/pdf/resume-web.pdf" target="_blank" class="btn btn-blue">resume.pdf | 145kb</a><a href="http://github.com/sceendy" class="btn btn-blue" target="_blank">github code</a>
      </p>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <p class="text-headline">Currently looking for a frontend/UI developer position... <br/>remote or east of Dallas North Tollway and north of 30 </p>
      <p class="text-block">Cindy Juarez is a frontend developer that also dabbles into designing. She <strong class="text-pink">loves</strong> creating beautiful, responsive layouts using Sass and manipulating the DOM by writing JavaScript. For the past 2 years, she has been diving deep into AngularJS.</p>
      <p class="text-block">She has worked for a couple digital agencies, a university, a state association, a radio station, and a social ecommerce startup - both in office and remotely.</p>
      <p class="text-block">While she enjoys building awesome + modern web applications, she also makes time for other things such as running, going to NBA games, playing Halo (4 or Reach), reading autobiographies of comedians or politicians, and traveling.
      </p>
    </div>
  </section>

  <img src="http://2.bp.blogspot.com/-vaDLqj6ZlOs/VXHeGAKE6dI/AAAAAAAAHZ8/MOMhq818sZ0/s1600/IMG_20150605_122800.jpg" alt="Cindys Office" class="img-section"/>
</article>
