<article class="component-portfolio">
  <div class="row">
    <header class="col-md-12 col-xs-12 component-heading">
      <ul class="breadcrumb">
        <li><a href="/#/">home</a> &gt; </li>
        <li>Blog</li>
      </ul>
      <h3>Blog</h3>
    </header>
  </div>
  <div class="row">
    <section ng-repeat="(key, post) in posts.items" class="col-md-6">
      <a class="blog-entry"  ng-href="/#/blog/{{ key }}">
        <h4>{{posts.items[key].title}}</h4>
        <time>{{posts.items[key].published | date:'MMMM d, y' : 'UTC'}}</time>
        <p class="summary" ng-bind-html="posts.items[key].content | words:25"></p>
      </a>
    </section>
  </div>
</article>
