<article class="component-portfolio">
  <div class="row">
    <header class="col-md-12 col-xs-12 component-heading">
      <h3>Blog</h3>
    </header>
  </div>
  <div class="row">
    <a class="blog-entry col-md-6"   ng-repeat="(key, post) in posts.items" ng-href="/#/blog/{{ key }}">
      <h4>{{posts.items[key].title}}</h4>
      <time class="small">{{posts.items[key].published | date:'MMMM d, y' : 'UTC'}}</time>
      <p class="summary" ng-bind-html="posts.items[key].content | words:25"></p>
      <small><strong>related to:</strong> <span ng-repeat="label in posts.items[key].labels">{{ label }}<span ng-if="!$last"> + </span></span></small>
    </a>
  </div>
</article>
