<article class="component-portfolio">
  <div class="row">
    <header class="col-md-12 col-xs-12">
      <h3>Blog</h3>
      <ul class="breadcrumb">
        <li><a href="/">home</a> &gt; </li>
        <li>Blog</li>
      </ul>
    </header>
  </div>
  <div class="row">
    <section ng-repeat="blog in blog" class="col-md-6">
      <a class="blog-entry">
        <h4>{{blog.title}}</h4>
        <time>{{blog.date | date: 'MMM d, y h:mm:ss a' }}</time>
        <p class="summary" ng-bind-html="blog.body | words:25"></p>
      </a>
    </section>
  </div>
</article>
