<article class="component-entry">
  <div class="row">
    <header class="col-md-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="/#/">home</a> /</li>
        <li><a href="/#/blog"> blog</a> /</li>
        <li> {{posts.items[key].title}}</li>
      </ul>
    </header>
  </div>
  <div class="row">
    <section class="col-md-12">
      <h2>{{posts.items[key].title}}</h2>
      <time>{{posts.items[key].published | date:'MMMM d, y ' + '@ h:mm a' }}</time>
      <p class="blog-text" ng-bind-html="blogContent()"></p>
      <h5 class="text-center heading-blue-border">Have a question or comment?<br/>Ask me anything: <a href="http://twitter.com/home?status=@sceendy">@sceendy</a></h5>
    </section>
  </div>
</article>
