<article class="component-entry" ng-repeat="blog in blog" ng-show="$first">
  <div class="row">
    <header class="col-md-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="/">home</a> &gt;</li>
        <li><a href="/blog">Blog</a>  &gt;</li>
        <li>{{blog.title}}</li>
      </ul>
    </header>
  </div>
  <div class="row">
    <section class="col-md-12">
      <h2>{{blog.title}}</h2>
      <time>{{blog.date}}</time>
      <p class="summary" ng-bind-html="blog.body"></p>
        <p ng-if="blog.totalCount">
          <a href="/" class="btn btn-pink">Previous Post</a>
          <a href="/" class="btn btn-pink">Next Post</a>
        </p>
    </section>
  </div>
</article>
