<div class="container">
  <div class="row middle-earth">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p>
        <a href="http://github.com/sceendy" target="_blank" class="btn-social"><i class="fa fa-github"></i></a>
        <a href="http://jsfiddle.net/user/sceendy" target="_blank" class="btn-social"><i class="fa fa-jsfiddle"></i></a>
        <a href="http://twitter.com/sceendy" target="_blank" class="btn-social"><i class="fa fa-twitter"></i></a>
        <a href="http://dribbble.com/sceendy" target="_blank" class="btn-social"><i class="fa fa-dribbble"></i></a>
      </p>
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="text-right xs-hide">
        the year is: {{currentYear}}
      </p>
    </div>
  </div>
</div>
