<header class="row">
  <div class="col-md-12 col-xs-12">
    <div class="text-center">
      <img src="/assets/images/cindy.jpg" alt="Cindy Juarez" class="profile">
      <h1>Cindy Juarez</h1>
      <h2 class="headline">I am a frontend engineer in Dallas, TX.</h2>
    </div>
  </div>
</header>
<div class="row">
  <nav class="row-md-12 col-xs-12">
    <ul class="nav">
      <li><a href="/#/">Home</a></li>
      <li><a href="/#/work">Work</a></li>
      <li><a href="/#/blog">Blog</a></li>
    </ul>
  </nav>
</div>
