<section class="row">
  <div class="col-md-7 col-xs-12">
    <header class="component-heading">
      <h3>about me</h3>
    </header>
    <p class="indent">Pixel by pixel, I build beautiful web experiences. I have a BA in Emerging Media and Communication along with some serious<i class="fa fa-heart"></i>for the internet. So, I tend to create awesome + modern web applications. </p>
    <p class="indent">I am currently coding at a social ecommerce startup called <a href="https://joinem.com" target="_blank">Joinem</a>. <br/>And I am <strong>not available</strong> for freelance or contract work at this time.
    </p>
    <p>
      <a href="http://sceendy.com/assets/pdf/resume-web.pdf" target="_blank" class="btn btn-blue">resume.pdf | 145kb</a><a href="http://github.com/sceendy" class="btn btn-blue" target="_blank">github code</a>
    </p>
  </div>
  <div class="col-md-5 col-xs-12">
    <header class="component-heading">
      <h3>currently working on</h3>
    </header>
    <a ng-href="https://joinem.com" target="_blank">
      <aside class="sidebar">
        <h4 class="sidebar--heading">Joinem</h4>
      </aside>
    </a>
    <p class="text-center">
      <a class="btn btn-pink text-center" href="/#/work">view my work</a>
    </p>
  </div>
</section>
<article ng-controller="blogController" class="component-portfolio">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <header class="component-heading">
        <h3>Blog</h3>
      </header>
    </div>
    <!-- hey, API stuff loading? good show me! -->
    <div class="col-md-12" ng-hide="posts.$resolved"><img src="/assets/images/spinner.gif" class="block-center"/></div>

    <!-- API data pulled in? cool! -->
    <div class="col-md-12 col-xs-12" ng-repeat="(key, post) in posts.items">
      <a class="blog-entry" ng-href="/#/blog/{{ key }}">
        <div style="float:left;">
          <h4>{{ posts.items[key].title }}</h4>
          <small><strong>topics</strong>: <span ng-repeat="label in posts.items[key].labels">{{ label }}<span ng-if="!$last"> + </span></span></small>
        </div>
        <div style="float:right;">
          <time>{{ posts.items[key].published | date:'MMMM d, y ' + '@ h:mm a' }}</time>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-xs-12 block-center" ng-if="!post.items.length%2 == 0">
      <a href="/#/blog" class="blog-block">
        View older posts...
      </a>
    </div>

  </div>
</article>
