<section class="row">
  <div class="col-md-7 col-xs-12">
    <header class="component-heading">
      <h3>about me</h3>
    </header>
    <p class="indent">Pixel by pixel, I build beautiful web experiences. I have a BA in Emerging Media and Communication along with some serious<i class="fa fa-heart"></i>for the internet. With a background in design, I use modern client-side code to create high-quality interactions with an emphasis on aesthetics.</p>
    <p class="indent">I am currently coding at a social ecommerce startup called <a href="https://joinem.com" target="_blank">Joinem</a> alongside some other awesome developers</a>. Unfortunately, that means that I am <strong>not available</strong> for freelancing or contract work at this time.
    </p>
    <p>
      <a href="http://sceendy.com/assets/pdf/resume-web.pdf" target="_blank" class="btn btn-blue">resume.pdf | 189kb</a><a href="http://github.com/sceendy" class="btn btn-blue" target="_blank">github code</a>
    </p>
  </div>
  <div class="col-md-5 col-xs-12" ng-controller="portfolioController">
    <header class="component-heading">
      <h3>featured project</h3>
    </header>
    <a ng-href="http://{{workItem[0].url}}" class="work" target="_blank">
      <section>
        <h4>{{workItem[0].client}}</h4>
        <div class="tags" ng-repeat="tag in workItem[0].skills">{{tag}}</div>
        <p class="summary">
          {{workItem[0].summary}}
        </p>
      </section>
    </a>
    <p class="text-center">
      <a class="btn btn-pink text-center" href="/#/portfolio">view my portfolio</a>
    </p>
  </div>
</section>
<article ng-controller="blogController" class="component-portfolio">
  <div class="row">
    <header class="col-md-12 col-xs-12 component-heading">
      <h3>Blog</h3>
    </header>
    <div class="col-md-6" ng-repeat="(key, post) in posts.items  | limitTo: 4">
      <a class="blog-entry" ng-href="/#/blog/{{ key }}">
        <h4>{{posts.items[key].title}}</h4>
        <time>{{posts.items[key].published | date:'MMMM d, y ' + '@ h:mm a' }}</time>
        <p class="summary" ng-bind-html="posts.items[key].content  | words:25"></p>
      </a>
    </div>
  </div>
  <a href="/#/blog" ng-if="blog.totalCount" class="btn btn-pink text-center">Check out other posts... </a>
</article>
