<section class="row">
  <div class="col-md-12 col-xs-12">
    <header class="component-heading">
      <h3>most recently worked on</h3>
    </header>
  </div>
  <div class="col-md-12 col-xs-12">
    <figure class="text-center">
      <img src="assets/images/notifications.png" alt="Joinem"/>
      <figcaption>
        <strong>Joinem</strong> - a social ecommerce platform. <br/>Oh, hey, I designed that notifications popover ;)</figcaption>
    </figure>
    <div class="block-center">
      <a class="btn btn-pink" href="/work" role="button">view my work</a>
    </div>
  </div>
</section>
<article class="component-portfolio">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <header class="component-heading">
        <h3>Blog</h3>
      </header>
    </div>
    <!-- hey, the API is being consumed, hold up -->
    <div class="col-md-12 col-xs-12" ng-hide="posts.$resolved"><img src="/assets/images/spinner.gif" class="block-center"/></div>

    <!-- API data pulled in? cool! -->
    <div ng-repeat="(id, post) in posts.items | limitTo: 6 track by post.id" class="col-md-12">
      <a ng-href="/blog/{{ id }}" class="blog-entry">
        <!-- slug(post.url) -->
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="blog-title xs-center">{{ post.title }}</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <time class="text-right xs-center">{{ post.published | date:'MMMM d, y ' }}</time>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-12 col-xs-12" ng-if="!posts.items.length%2 == 0">
      <div class="block-center top-space">
        <a href="/blog" class="btn btn-pink">
          older posts...
        </a>
      </div>
    </div>

  </div>
</article>
