<article class="component-portfolio">
  <div class="row">
    <header class="col-md-12 col-xs-12 component-heading">
      <ul class="breadcrumb">
        <li><a href="/#/">home</a> / </li>
        <li>Portfolio</li>
      </ul>
      <h3>Portfolio</h3>
    </header>
  </div>
  <div class="row">
    <a ng-repeat="work in workItem" ng-href="http://{{work.url}}" class="col-sm-6 work" target="_blank">
      <section>
        <h4>{{work.client}}</h4>
        <div class="tags" ng-repeat="tag in work.skills">{{tag}}</div>
        <p class="summary">
          {{work.summary}}
        </p>
      </section>
    </a>
  </div>
</article>
