.tagline {
  color:$gray;
  margin:0;
}

time {
  font-size: 13px;
  line-height: 1.2;
  color: #888;
  display: block;
}

.middle-earth {
  @include align-items(center);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.xs-center {
  text-align: center;
  margin: 1em auto 0;
}
.block-center {
  display: block;
  margin: 0 auto;
}

.sm-hide {
  @media screen and (max-width:740px){
    display: none;
  }
}

.xs-hide {
  @media screen and (max-width:420px){
    display: none;
  }
}

code {
  background: #eee;
  border-radius: 2px;
  padding: 15px;
  border: $lightgray solid 1px;
  font-size: 12px;
  display: block;
  margin: 10px 0;
}

.code-inline {
  background: #eee;
  border-radius: 2px;
  border: $lightgray solid 1px;
  line-height: 22px;
  padding: 0 5px;
  color: darken($main-blue, 15%);
  font-family: monospace;
  font-size: 0.9em;
}
.fa-heart {
  color: $main-pink;
  margin: 0 3px;
}

article[class^="component"] {
  padding-bottom: 110px;
}

.component-heading {
  color: #767676;
  border-bottom: 2px #eee solid;
  padding-left: 0;
}

.blog-entry {
  padding: 10px 10px 12px;
  margin-bottom: 5px;
  display: inline-block;
  border-bottom: solid 4px transparent;
  &:hover {
    text-decoration: none;
    border-bottom: solid 4px;
    background-color: #f1f1f1;
  }
  .summary {
    color: #333;
    br {
      line-height: 35px;
    }
  }
}

.blog-block {
  display: block;
  max-width: 100%;
  color: $main-pink;
  padding: 15px 15px 0;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.heading-blue-border {
  border-top: 3px solid $main-blue;
  padding-top: 15px;
  font-size: 17px;
}

.sidebar--heading {
  text-align: center;
  margin-top: 16px;
}

.small { //normalizing it back down
  font-size: 0.9em;
  line-height: 1.2;
}

.blog-title {
  margin-bottom: 0;
}

.text-headline {
  font-size: 1.1rem;
  font-style: italic;
  color: #9C9C9C;
  font-weight: 600;
}

.img-section {
  margin-top: 20px;
  width: 100%;
}

.text-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.indent {
  margin-left: 10px;
}

.text-pink {
  color: $main-pink;
}
