.tagline {
  color:$gray;
  margin:0;
}

time {
  font-size: 13px;
  color:$main-blue;
}

.middle-earth {
  @include align-items(center);
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.sm-hide {
  @media screen and (max-width:740px){
    display:none;
  }
}

.xs-hide {
  @media screen and (max-width:420px){
    display:none;
  }
}

.indent {
  line-height:1.3;
  &::first-letter {
    margin-left:30px;
  }
}

code {
  background: #eee;
  border-radius: 2px;
  padding: 15px;
  border: #E5E5E5 solid 1px;
  font-size:12px;
  display:block;
}

.fa-heart {
  color:$main-pink;
  margin:0 3px;
}

article[class^="component"] {
  padding-bottom: 85px;
}

.component-heading {
  border-bottom:2px solid;
  color:$main-pink;
  margin-bottom:15px;
}

.blog-entry {
  padding:10px 15px;
  margin-bottom:5px;
  &:hover {
    text-decoration:none;
    background:#eee;
  }
  .summary {
    color:#333;
  }
}

.heading-blue-border {
  border-top: 3px solid $main-blue;
  padding-top: 15px;
}
